@page
@model Talabat.Blog.Pages.Articles.indexModel
@{
    ViewData["Title"] = "Talabat Articles";
}

<div class="container m-0 p-0 row">
    <div class="col-8">
        <h1>
            Articles List
        </h1>
    </div>
    <div class="col-4">
        <a href="#" class="btn btn-primary text-white">Add new Article</a>
    </div>

    <div class="border p-3 m-3 col-12">
        <form action="/" method="post">
            @if (Model.Articles.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m => m.Articles.FirstOrDefault().Id)
                        </th>
                        <th>
                            <label asp-for="Articles.FirstOrDefault().Title"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var article in Model.Articles)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => article.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => article.Title)
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                                <button class="btn btn-success text-white">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div>No Articles To Display</div>
            }
        </form>
    </div>
</div>   